################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PdfProdigy/v16
/packages
/PdfProdigy/obj/Debug
/PdfProdigy.Setup/Debug
